.email-form {
  .ant-row.ant-form-item {
    margin-bottom: 12px !important;
  }
  .ant-form-item-label>label::before {
    content: '*';
    position: relative;
    top: -0.5px;
    margin-right: 4px;
    font-family: SimSun, sans-serif;
    color: #f5222d;
  }
}