@import "../../../common/styles/variable.scss";

.email-container {
  height: 100%;
  padding: 1rem;

  .list-header-container {
    padding: 8px 4px;
    padding-left: 1.5rem;
    font-weight: 700;
  }

  .compose-button-container {
    text-align: center;
    width: 80%;

    .compose-button {
      background-color: $primary-color;
      color: $app-white;
      margin: 0.5rem 1rem;
    }

  }

  .menu-item-container {
    border-bottom: 1px dotted $app-border-gray;

    .email-menu-item {
      width: 100%;
      padding-left: 1.5rem;
      cursor: pointer;

      .menu-icon {
        padding-right: 0.75rem;
      }

      .menu-item-label {
        font-size: 1rem;
      }
    }
  }

  .email-list-container {
    background-color: $app-white;
    height: 100%;

    .email-item-preview {
      cursor: pointer;
    }

    .action-button-container {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .email-list-header {
      margin: 0.5rem;

      .search-container {
        float: right;
        padding-top: 1rem;
      }
    }

    .email-first-list-item {
      padding: 10px 1rem;
      border-bottom: 1px solid $app-border-gray;
      border-top: 1px solid $app-border-gray;
      margin-top: 1rem;
    }

    .email-list-item {
      padding: 10px 1rem;
      border-bottom: 1px solid $app-border-gray;
    }

    .unread-email {
      background-color: $app-light-background;
    }
  }
}

.category-item-container {
  display: flex;  
  padding-left: 2rem;
  align-items: center;

  .tag_circle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: flex;
    margin-right: 0.5rem;
  }

  .work_color_tag {
    background-color: $primary-color;
  }

  .documents_color_tag {
    background-color: $app-red;
  }

  .social_color_tag {
    background-color: $app-social-blue;
  }

  .advertising_color_tag {
    background-color: $app-advertising;
  }

  .clients_color_tag {
    background-color: $app-secondary;
  }
}