@import "./variable.scss";

.ant-btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.padding-right-1rem {
  padding-right: 1rem;
}

.padding-1rem {
  padding: 0.5rem;
}

.padding-horizantal-05rem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.app-border {
  border: 1px solid $app-border-gray !important;
}

.margin-right-05rem {
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100vh;
}

.content-view {
  height: 90%;
}

.float-right {
  float: "right";
}
.margin-left-1rem {
  margin-left: 1rem;
}
.has-error {
  color: $app-red;
}
.no-padding {
  padding: 0px !important;
}
