@import "../styles/variable.scss";

.header-title {
  color: $app-font-color;  
  font-size: 1.75rem;
}

.primary-button {
  background-color: $primary-color;
  color: $app-white;
}

.header-container {
  background: $app-white;
  padding-left: 1.5rem;
}
.logout {
  padding-left: 1.5rem;
  cursor: pointer;
}
