$primary-color:#4FB495;
$secondar:#F5AD50;
$app-secondary:#F5AD50;
$app-red:#ED5362;
$app-white:white;
$app-border-gray:#8080803b;
$app-font-color:#000000a1;
$app-light-background:#F9F8F8;
$default-font-weight: 600;
$app-social-blue:#2C83C9;
$app-advertising:#55C7CA;